SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
GEMINI_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
MISTRAL_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=